{% extends "../base_form.html" %}
{% load i18n %}

{# Blocks de base.html #}
{% block page_title %}Nova contrasenya{% endblock %}
{% block bodyclasses %}{% endblock %}
{% block mainclasses %} password{% endblock %}
{% block extra_js %}{% endblock %}

{# Blocks de base_form.html #}
{% block before_form_content %}{% endblock %}
{% block enctype %}{% endblock %}
{% block form_outro %}{% endblock %}
{% block after_form_content %}{% endblock %}

{% block form_intro %}
<h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
  Recuperació de contrasenya
</h1>
<p>
  Escriviu el vostre correu electrònic. S'enviarà un enllaç a aquesta adreça perquè pugueu restablir la contrasenya.
</p>
{% endblock %}

{% block form_fields %}
  {{ form }}
{% endblock %}

  {% block submit_text %}Envia{% endblock %}

