{% extends "../base_form.html" %}
{% load i18n %}

{# Blocks de base.html #}
{% block page_title %}{% translate "New password" %}{% endblock %}
{% block bodyclasses %}{% endblock %}
{% block mainclasses %} password{% endblock %}
{% block extra_js %}{% endblock %}

{# Blocks de base_form.html #}
{% block before_form_content %}{% endblock %}
{% block enctype %}{% endblock %}
{% block form_outro %}{% endblock %}
{% block after_form_content %}{% endblock %}

{% block form_intro %}
<h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
  {% translate "Password recovery" %}
</h1>
<p>
  {% translate "Introduce your email. A link will be sent to this address so you can reset your password." %}
</p>
{% endblock %}

{% block form_fields %}
  {{ form }}
{% endblock %}

  {% block submit_text %}{% translate 'Send' %}{% endblock %}

