{% extends "../base.html" %}
{% load i18n %}

{# Blocks de base.html #}

{% block page_title %}{% translate "Privacy policy" %}{% endblock %}
{% block bodyclasses %}{% endblock %}
{% block mainclasses %} privacy {% endblock %}
{% block extra_js %}{% endblock %}

{% block main %}
<nav class="flex mb-4" aria-label="Breadcrumb">
  <ol class="inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse">
    <li class="inline-flex items-center">
      <a href="{% url 'partners:home' %}" class="inline-flex items-center text-sm font-medium text-gray-400 hover:text-primary-800" id="id_home">
        <svg class="w-3 h-3 me-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewbox="0 0 20 20">
          <path d="m19.707 9.293-2-2-7-7a1 1 0 0 0-1.414 0l-7 7-2 2a1 1 0 0 0 1.414 1.414L2 10.414V18a2 2 0 0 0 2 2h3a1 1 0 0 0 1-1v-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 0 1 1h3a2 2 0 0 0 2-2v-7.586l.293.293a1 1 0 0 0 1.414-1.414Z"/>
        </svg>
        {% translate 'Home' %}
      </a>
    </li>
  </ol>
</nav>

<section class="md:p-4 lg:p-12">
  <h1 class="mb-8 text-2xl font-bold leading-tight tracking-tight text-gray-900
    md:text-3xl lg:text-4xl lg:mb-12">
    {% translate "Privacy policy" %}
  </h1>
  <div class="p-4 bg-gray-100 rounded-lg shadow w-full
    md:p-6 xl:p-8
    dark:bg-gray-800">
    <p class="mb-6 text-lg text-gray-700 md:text-xl dark:text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto rem eveniet omnis. Id, praesentium natus, unde nihil earum obcaecati ipsa corporis labore, eligendi necessitatibus tempora suscipit quisquam. Harum, eveniet voluptatum?</p>
    <p class="mb-6 text-gray-900 dark:text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo accusantium culpa sequi ipsa ullam voluptate labore, dolorum eligendi alias. Explicabo voluptas ut ullam at enim esse quas quidem ab itaque.</p>
    <div class="grid grid-cols-1 gap-6 sm:grid-cols-2">
        <p class="mb-3 text-gray-900 dark:text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi vero rem debitis hic atque ducimus ipsam ipsum, minima ab error quis soluta facere corrupti praesentium animi necessitatibus veniam provident obcaecati. Error quia possimus officia quibusdam odio exercitationem esse dolorum eum asperiores! Doloribus ea impedit quas rem animi natus, doloremque quidem similique, aliquam at sint veniam tenetur voluptas ad earum distinctio?</p>
        <p class="mb-3 text-gray-900 dark:text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi vero rem debitis hic atque ducimus ipsam ipsum, minima ab error quis soluta facere corrupti praesentium animi necessitatibus veniam provident obcaecati. Error quia possimus officia quibusdam odio exercitationem esse dolorum eum asperiores! Doloribus ea impedit quas rem animi natus, doloremque quidem similique, aliquam at sint veniam tenetur voluptas ad earum distinctio?</p>
    </div>
  </div>
</section>
{% endblock %}
