{% load i18n wagtailcore_tags static %}
{% get_current_language as language_code %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;700&display=swap" rel="stylesheet">
  <title>{% translate 'Mobles Ciurans' %} | {% block page_title %}{% endblock %}</title>
  {% if settings.web.AnalyticsSettings.embed %}
    <!-- WEB ANALYTICS SCRIPT -->
    <script>
      {{ settings.web.AnalyticsSettings.embed|safe }}
    </script>
    <!-- End -->
  {% endif %}
</head>
<body id="body" class="{% block body_classes %}{% endblock %}" data-lang="{{ language_code }}">
  <div class="empty-box"></div>
  <header class="header">
    <div class="topbar">
      <a class="topbar__logo" href="/{{ language_code }}/">LOGO
      </a>
      <div class="topbar__action">
        <svg
            title="{% translate 'Open menu' %}"
            onclick="openMenu()"
            class="icon-24 topbar__open"
            viewbox="0 0 32 32"
            xmlns="http://www.w3.org/2000/svg"
          >
          <path d="M4 16H28" />
          <path d="M4 8H28" />
          <path d="M4 24H28" />
        </svg>
      </div>
    </div>
    <div class="menu">
      <div class="menu__top">
        <a class="menu__logo" href="/{{ language_code }}/">
          <img class="logo" src="{% static 'images/logo.svg' %}" alt="{% translate 'Logo of Ciurans' %}">
        </a>
        <div class="menu__action">
          <svg
            title="{% translate 'Close menu' %}"
            onclick="closeMenu()"
            class="menu__close icon-close icon-24"
            viewbox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path d="M17.7556 6L6.02222 18" />
            <path d="M6.02222 6L17.7556 18" />
          </svg>
        </div>
      </div>
      <div class="menu__bottom">
        <nav class="menu__nav title-3">
          <p>MENÚ PENDENT</p>
        </nav>
        <div class="menu__btn">
          <a href="/cms">
            <div class="btn btn--dark">
              <p>{% translate 'Client Area' %}</p>
            </div>
          </a>
        </div>
        <div class="menu__lang">
          <ul>
            {% for translation in page.get_translations.live %}
              {% get_language_info for translation.locale.language_code as lang %}
              <li class="menu__lang-item">
                <a href="{% pageurl translation %}" rel="alternate" hreflang="{{ lang.code }}">
                  <p>{{ lang.code }}</p>
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </header>

  {% block content %}
  {% endblock %}

  <div class="prefooter">
    <P>PENDENT: LINKS SOCIAL MEDIA</P>
  </div>
  <footer class="footer">
    <div class="footer__top grid-1">
      <div class="footer__nav grid-item-1-4">
        <P>MENÚ PENDENT</P>
      </div>
      {% if settings.web.ContactDetailsSettings.address %}
      <div class="footer-info grid-item-5-8">
        <div class="footer-info__heading">
          {% translate 'Where are we' %}
        </div>
        <div class="footer-info__text">
          <a href='https://maps.apple.com/maps?q={{ settings.web.ContactDetailsSettings.address|safe }}'>
            <p>{{ settings.web.ContactDetailsSettings.address|safe }}</p>
          </a>
        </div>
      </div>
      {% endif %}
      {% if settings.web.ContactDetailsSettings.phone or settings.web.ContactDetailsSettings.email %}
      <div class="footer-info grid-item-9-12">
        <div class="footer-info__heading">
          {% translate 'Contact' %}
        </div>
        <div class="footer-info__text">
          {% if settings.web.ContactDetailsSettings.phone %}
          <a href="tel:{{ settings.web.ContactDetailsSettings.phone }}">
            <p>{{ settings.web.ContactDetailsSettings.phone }}</p>
          </a>
          {% endif %}
          {% if settings.web.ContactDetailsSettings.email %}
            <a href="mailto:{{ settings.web.ContactDetailsSettings.email }}">
              <p>{{ settings.web.ContactDetailsSettings.email }}</p>
            </a>
          {% endif %}
        </div>
      </div>
      {% endif %}
    </div>
    <div class="footer__bottom grid-1">
      <div class="footer__bottom-container grid-item-4-9">
        <div class="footer__legal">
          <p>©2023 {% translate 'Mobles Ciurans' %}.</p>
        </div>
        <div class="footer__legal">
          <p>{% translate 'All rights reserved' %}.</p>
        </div>
        {% if legal_page %}
        <div class="footer__legal">
          <a href="{% pageurl legal_page %}">
            <p>{% translate 'Legal warning' %}.</p>
          </a>
        </div>
      </div>
      {% endif %}
    </div>
  </footer>

  <script src="{% static 'js/scripts.js' %}"></script>

  {% block extra_js %}
  {% endblock %}

  <!-- Referencing webpack bundle file -->
  <script src="{% static 'js/index-bundle.js' %}"></script>

</body>
</html>
