{% load i18n wagtailimages_tags wagtailcore_tags static %}
{% get_current_language as language_code %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;700&display=swap" rel="stylesheet">
  <title>{{ settings.web.CustomizationSettings.title_prefix|safe }} | {% block page_title %}{% endblock %}</title>
  {% if settings.web.AnalyticsSettings.embed %}
    <script>
      {{ settings.web.AnalyticsSettings.embed|safe }}
    </script>
  {% endif %}
</head>
<body id="body" class="{% block body_classes %}{% endblock %}" data-lang="{{ language_code }}">
  <div class="empty-box"></div>
  <header class="header">
    <div class="topbar">
      <a class="topbar__logo" href="/{{ language_code }}/">
        {% image settings.web.CustomizationSettings.logo width-300 %}
      </a>
      <div class="topbar__action">
        <svg
            title="{% translate 'Open menu' %}"
            onclick="openMenu()"
            class="icon-24 topbar__open"
            viewbox="0 0 32 32"
            xmlns="http://www.w3.org/2000/svg"
          >
          <path d="M4 16H28" />
          <path d="M4 8H28" />
          <path d="M4 24H28" />
        </svg>
      </div>
    </div>
    <div class="menu">
      <div class="menu__top">
        <a class="menu__logo" href="/{{ language_code }}/">
          {% image settings.web.CustomizationSettings.logo width-300 %}
        </a>
        <div class="menu__action">
          <svg
            title="{% translate 'Close menu' %}"
            onclick="closeMenu()"
            class="menu__close icon-close icon-24"
            viewbox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path d="M17.7556 6L6.02222 18" />
            <path d="M6.02222 6L17.7556 18" />
          </svg>
        </div>
      </div>
      <div class="menu__bottom">
        <nav class="menu__nav title-3">
          <p>MENÚ PENDENT</p>
        </nav>
        <div class="menu__btn">
          <a href="{% url 'registration:login' %}">
            <div class="btn btn--dark">
              <p>{% translate 'Client Area' %}</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </header>

  {% block content %}
  {% endblock %}

  {% if page.display_join_us_block %}
    <div>
      <h2>{{ settings.web.CustomizationSettings.join_us_title }}</h2>
      {% if settings.web.CustomizationSettings.join_us_text %}
        <p>{{ settings.web.CustomizationSettings.join_us_text }}</p>
      {% endif %}
    </div>
  {% endif %}

  <div class="prefooter">
    {% include './components/social.html' %}
  </div>
  <footer class="footer">
    <div class="footer__top grid-1">
      <div class="footer__nav grid-item-1-4">
        <p>MENÚ PENDENT</p>
      </div>
      {% if settings.web.CustomizationSettings.address %}
      <div class="footer-info grid-item-5-8">
        <div class="footer-info__heading">
          {% translate 'Where are we' %}
        </div>
        <div class="footer-info__text">
          <a href='https://maps.apple.com/maps?q={{ settings.web.CustomizationSettings.address|safe }}'>
            <p>{{ settings.web.CustomizationSettings.address|safe }}</p>
          </a>
        </div>
      </div>
      {% endif %}
      {% if settings.web.CustomizationSettings.phone or settings.web.CustomizationSettings.email %}
      <div class="footer-info grid-item-9-12">
        <div class="footer-info__heading">
          {% translate 'Contact' %}
        </div>
        <div class="footer-info__text">
          {% if settings.web.CustomizationSettings.phone %}
          <a href="tel:{{ settings.web.CustomizationSettings.phone }}">
            <p>{{ settings.web.CustomizationSettings.phone }}</p>
          </a>
          {% endif %}
          {% if settings.web.CustomizationSettings.email %}
            <a href="mailto:{{ settings.web.CustomizationSettings.email }}">
              <p>{{ settings.web.CustomizationSettings.email }}</p>
            </a>
          {% endif %}
        </div>
      </div>
      {% endif %}
    </div>
    <div class="footer__bottom grid-1">
      <div class="footer__bottom-container grid-item-4-9">
        <div class="footer__legal">
          <p>{{ settings.web.CustomizationSettings.footer_name }}</p>
        </div>
        <div class="footer__legal">
          <p>{% translate 'All rights reserved' %}.</p>
        </div>
        <div class="footer__legal">
          <p>{{ settings.web.CustomizationSettings.authorship }}</p>
        </div>
      </div>
    </div>
  </footer>

  {% block extra_js %}
  {% endblock %}

</body>
</html>
