// Dynamic variables

.footer__social-icon {
  --width: var(--padding-sm);
}

@media (min-width: 1024px) {
  .footer__social-icon {
    --width:  var(--padding-md);
  }
}

// Layout
.footer {
  margin-top: auto;
  padding: var(--padding-header);
  background-color: var(--second);
  color: var(--white);

  &__top {
    display: flex;
    justify-content: space-between;
  }
  &__social ul {
    display: flex;
    flex-wrap: nowrap;
    gap:  var(--padding-xsm);

    .footer__social-icon {
      width: var(--width);
    }
  }
  &__bottom {
    display: flex;
    justify-content: center;
    gap:  var(--padding-xsm);
  }
}