// Dynamic variables

@media (min-width: 1024px) {

}

// Layout
.form {
  form {
    display: flex;
    flex-direction: column;
  }
  &.error {
    .form__container::after {
      content: "🚩";
      position: absolute;
    }
  }

  // Title for the form
  &__title {
    position: relative;
    padding-bottom: var(--padding-xsm);
    margin-bottom: var(--padding-lg);
    border-bottom: 2px solid var(--primary);
    color: var(--black);
  }
  // If the form has some intro text
  &__intro {
    padding-bottom: var(--padding-xsm);
  }
  // If the form has some outro text
  &__outro {
    padding: var(--padding-xsm) 0;
  }
  // If the form has section, each section title
  // &__legend {}
  // If the form has notes of some type
  // &__note {}

  // The generic error for the top
  &__error {
    grid-column: 1 / -1;
    padding-bottom: var(--padding-xsm);
    padding-left: var(--padding-sm);
    color: var(--red);
  }
  // The submit button of the form
  &__submit {
    align-self: flex-end;
  }

  // The server error
  // &__server-error {
  //   position: relative;
  //   background-color: var(--red);
  //   text-align: center;

  //   &::before {
  //     content: "";
  //     position: absolute;
  //     top: -10px;
  //     right: 33px;
  //     width: 5px;
  //     height: 10px;
  //     border-right: 5px solid transparent;
  //     border-bottom: 10px solid var(--red);
  //     border-left: 5px solid transparent;
  //   }
  //   &:hover {
  //     color: var(--red);
  //     border-color: var(--red);
  //     pointer-events: none;
  //   }
  // }
}