// Dynamic variables
.header {
  --height-header: auto;
  --display-header: flex;
  
  .nav {
    --justify-content: center;
  }
}
.header, .footer {
  --padding-header:  var(--padding-sm)  var(--padding-md);
}

@media (min-width: 1024px) {
  .header {
    --height-header: auto;
    
    .nav {
      --justify-content: space-between;
    }
  }
  .header, .footer {
    --padding-header: var(--padding-md) var(--padding-lg);
  }
}

// Layout

.header {
  display: var(--display-header);
  flex-direction: column;
  justify-content: space-between;

  height: var(--height-header);
  width: 100%;
  background-color: var(--primary-light);
  padding: var(--padding-header);

}

.nav {
  display: flex;
  gap:  var(--padding-xsm);
  justify-content: var(--justify-content);
  
  li {
    width: 50%;
  }
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__top {
    display: flex;
    justify-content: space-between;
  }
  &__bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    gap: var(--padding-xsm);
  }
  // &__logo { }
  // &__nav {  }
  &__lang ul {
    display: flex;
    gap: var(--padding-xsm);
  }
  &__lang-item {
    padding: var(--padding-xsm);
  }
}