{% load static i18n wagtailcore_tags %}

<details class="relative w-full rounded-2xl shadow-card px-4 py-6 lg:p-6 lg:pr-28">
	<summary class="leading-5 text-xl text-primary-500 font-bold cursor-pointer">
		<h2 class="inline leading-5 font-title text-lg font-semibold pr-7 text-gray-900">{{ value.question }}</h2>
	</summary>
	<div class="text-base pt-4 [&>p]:mb-4 lg:[&>p]:columns-2
			[&>img]:w-full [&>img]:rounded-lg [&>img]:mb-8 [&>img]:shadow-card
			[&>ol>li]:list-[decimal-leading-zero] [&>ol>li]:ml-12 [&>ol>li]:pl-1
			[&>ol]:mb-4 [&>ol]:max-w-xl
			[&>ul>li]:list-disc [&>ul>li]:ml-12 [&>ul>li]:pl-1 [&>ul]:mb-4 [&>ul]:max-w-xl
			[&>h2]:text-xl [&>h2]:font-bold [&>h2]:mb-2 lg:[&>h2]:text-3xl
			[&>h3]:text-lg [&>h3]:font-semibold [&>h3]:mb-2 lg:[&>h3]:text-2xl
			[&>h4]:text-base [&>h4]:font-bold [&>h4]:mb-2 lg:[&>h4]:text-xl"
		>
		{{ value.answer|richtext }}
	</div>
</details>
