{% load static wagtailcore_tags wagtailimages_tags i18n %}

{% if page.header_image %}
  {% image self.header_image width-2000 as bg_heading %}
{% endif %}
{% if page.overlay_image %}
  {% image self.overlay_image width-600 as image_overlay %}
{% endif %}

<section class="relative min-h-96 grid grid-cols-3 py-16">
  <div class="absolute top-0 left-0 right-0 bottom-0">
    <img class="h-full w-full object-cover" src="{{ bg_heading.url }}" alt="">
  </div>
  <div class="absolute top-0 left-0 right-0 z-10 h-full w-full
    bg-gradient-to-r from-white to-transparent"></div>
  <div class="relative z-20 mx-4 col-span-2
      lg:mx-24 lg:py-28">
    <h1 class="w-1/2 font-bold text-5xl mb-4 lg:text-6xl">{{ page.title }}</h1>
    {% if page.header_description %}
    <p class="font-semibold">{{ page.header_description }}</p>
    {% endif %}
    <div class="mt-4">
      <a href="{{ page.header_button_link }}"
        class="items-center px-3 py-2 font-medium rounded-full
          text-sm bg-groc-500 text-gray-900
          lg:mr-0 lg:gap-3
          hover:bg-gray-900 focus:outline-none
          focus:ring-4 focus:ring-groc-700
          dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-800"
      >
        <span>{{ page.header_button_text }}</span>
      </a>
    </div>
  </div>
  <!-- Overlay -->
  {% if page.can_display_header_highlight %}
  <div id="overlay" class="cols-span-2 row-start-2 relative flex flex-col gap-4 bg-groc-500 rounded-3xl
    p-3 z-30 mt-16 mx-8 w-80">
    <div class="absolute top-2 right-2 p-2 bg-groc-500 hover:bg-groc-700 cursor-pointer rounded-full"
      _="on click add .hidden to #overlay"
    >
      <img src="{% static 'images/icons/icon_close.svg' %}" alt="{% translate 'Close overlay' %}">
    </div>
    <div class="rounded-2xl overflow-hidden">
      {% if page.overlay_image %}
        <img class="h-full w-full object-cover text-white" src="{{ image_overlay.url }}" alt="">
      {% endif %}
    </div>
    <div>
      <h3 class="font-semibold text-2xl mb-2">
        {{ page.overlay_title }}
      </h3>
      <p class="text-sm">{{ page.overlay_body|richtext }}</p>
      {% if page.overlay_button_page and page.overlay_button_text %}
      <div class="my-4 float-right">
        <a href="{% pageurl page.overlay_button_page %}"
          class="sitems-center mr-2 px-3 py-2 text-gray-800 font-medium rounded-full
            text-sm border border-gray-900 lg:mr-0
            hover:bg-groc-700 focus:outline-none
            focus:ring-4 focus:ring-groc-700
            dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-800"
        >
          <span>{{ page.overlay_button_text }}</span>
        </a>
      </div>
      {% endif %}
    </div>
  </div>
  {% endif %}
</section>

