{% load i18n static %}

<section class="social">
  <div class="social__text">
    <p>{% translate 'Follow us at...' %}</p>
  </div>
  <ul class="social__icons">
    {% if settings.web.SocialMediaIconsSettings.facebook %}
    <li>
      <a href="{{ settings.web.SocialMediaIconsSettings.facebook }}">
        <img src="{% static 'images/icons/icon_fb.svg' %}" alt="{% translate 'Facebook Icon' %}" class="social__icon">
      </a>
    </li>
    {% endif %}
    {% if settings.web.SocialMediaIconsSettings.youtube %}
    <li>
      <a href="{{ settings.web.SocialMediaIconsSettings.youtube }}">
        <img src="{% static 'images/icons/icon_youtube.svg' %}" alt="{% translate 'Youtube Icon' %}" class="social__icon">
      </a>
    </li>
    {% endif %}
    {% if settings.web.SocialMediaIconsSettings.instagram %}
    <li>
      <a href="{{ settings.web.SocialMediaIconsSettings.instagram }}">
        <img src="{% static 'images/icons/icon_instagram.svg' %}" alt="{% translate 'Instagram Icon' %}" class="social__icon">
      </a>
    </li>
    {% endif %}
    {% if settings.web.SocialMediaIconsSettings.x %}
    <li>
      <a href="{{ settings.web.SocialMediaIconsSettings.x }}">
        <img src="{% static 'images/icons/icon_vimeo.svg' %}" alt="{% translate 'X Icon' %}" class="social__icon">
      </a>
    </li>
    {% endif %}
  </ul>
</section>
