// Dynamic variables

// Layout
.btn {
  padding: var(--padding-xxsm) var(--padding-lg);
  text-align: center;
}
.btn--prim-solid {
  background-color: var(--primary);
  border-radius: var(--br);
  transition: 200ms background-color ease-in-out;

  &:hover {
    background-color: var(--primary-light);
  }
}
.btn--prim-empty {
  background-color: var(--white);
  border: var(--br-thick-prim);
  border-radius: var(--br);
  transition: 200ms background-color ease-in-out;

  &:hover {
    background-color: var(--whitish);
  }
}
.btn--sec-solid {
  background-color: var(--second);
  border-radius: var(--br);
  transition: 200ms background-color ease-in-out;

  &:hover {
    background-color: var(--second-dark);
    color: var(--white);
  }
}
.btn--sec-empty {
  background-color: var(--white);
  border: var(--b-thick-sec);
  border-radius: var(--br);
  transition: 200ms background-color ease-in-out;

  &:hover {
    background-color: var(--whitish);
  }
}