// Dynamic variables

// @media (min-width: 1024px) {}

// Layout
.field {
  width: 100%;

  // If disabled
  &.is-disabled {
    .field__input {
      cursor: not-allowed;
    }
  }
  // If there's an error
  &.error {
    border: var(--b-error);
  }
  label {
    padding-left: var(--padding-sm);
    color: var(--black);
    
    // The sub-notes as *, optional
    span {
      color: var(--primary);
      font-size: 13px;
      font-weight: bold;
    }
  }
  input {
    height: 36px;
    width: 100%;
    padding: 0 var(--padding-sm);
    margin-top: var(--padding-xxsm);
    margin-bottom: var(--padding-xsm);
  
    background-color: var(--white);
    border: var(--b-thick-prim);
    border-radius: var(--br);
  
    text-align: left;
    color: var(--grey);
    
    &.is-disabled,
    &disabled {
      background-color: var(--grey);
      cursor: not-allowed;
    }
  }
  &::placeholder {
    font-size: 13px;
    line-height: 16px;
    color: var(--grey);
    opacity: 1;
  }
  // The field error for each input that has an error
  &__error {
    display: block;
    padding-left: var(--padding-sm);
    color: var(--red);
  }
  &__helptext {
    padding-left: var(--padding-sm);
    margin-top: -7px;
    margin-bottom: 14px;
  }
}


.field-checkbox {
  position: relative;

  display: flex;
  align-items: center;
  max-width: 400px;
  margin: 4px 0 12px 0;
  cursor: pointer;

  label {
    width: 100%;
    padding-left: 24px;
    cursor: pointer;

    a {
      font-style: italic;
    }
  }
  input {
    &:checked ~ .field-checkbox__custom::before {
      content: "✔";
      font-size: 16px;
    }
  }
  &__custom::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 1px solid #bbb;
    background-color: var(--white);
    pointer-events: none;
  }
  &__error {
    position: absolute;
    top: -10px;
    left: 23px;
    color: var(--red);
    pointer-events: none;
  }
}