// Dynamic variables
.logo--bg {
  --height: 50px;
}
.logo--sm {
  --height: 25px;
}

@media (min-width: 1024px) {
  .logo--bg {
    --height: 75px;
  }
  .logo--sm {
    --height: 50px;
  }
}

.logo--bg {
  height: var(--height);
  width: auto;
}
.logo--sm {
  height: var(--height);
  width: auto;
}