{% extends "../base.html" %}
{% load i18n %}

{# Blocks de base.html #}
{% block page_title %}{% translate "Documents" %}{% endblock %}
{% block bodyclasses %}{% endblock %}
{% block mainclasses %} documents {% endblock %}
{% block extra_js %}{% endblock %}


{% block main %}
  <nav class="flex mb-4" aria-label="Breadcrumb">
    <ol class="inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse">
      <li class="inline-flex items-center">
        <a href="{% url 'home' %}" class="inline-flex items-center text-sm font-medium text-gray-400 hover:text-primary-600 dark:text-gray-400 dark:hover:text-white" id="id_home">
          <svg class="w-3 h-3 me-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewbox="0 0 20 20">
            <path d="m19.707 9.293-2-2-7-7a1 1 0 0 0-1.414 0l-7 7-2 2a1 1 0 0 0 1.414 1.414L2 10.414V18a2 2 0 0 0 2 2h3a1 1 0 0 0 1-1v-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 0 1 1h3a2 2 0 0 0 2-2v-7.586l.293.293a1 1 0 0 0 1.414-1.414Z"/>
          </svg>
          {% translate 'Home' %}
        </a>
      </li>
    </ol>
  </nav>
  <h1 class="text-3xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
    {% translate "Documents" %}
  </h1>
  <div class="py-8 mx-auto max-w-screen-xl sm:py-12">
    {% if documents %}
      {% if tags|length > 1 or projects|length > 1%}
      <div class="sm:ml-8 md:ml-16 lg:ml-52">
        <h3 class="text-base pb-8">{% translate 'Filter by:' %}</h3>
        <form method="post">
          {% csrf_token %}
          {% if tags|length > 1 %}
          <div class="flex gap-2">
            <p class="text-base pr-2">{% translate 'Tags' %}</p>
            <div class="grid grid-cols-2 gap-1 mb-4 w-full
              sm:grid-cols-3 md:grid-cols-4">
              <label for="tags_all" id="label_tags_all"
                class="p-1 rounded-md bg-primary-600 text-white
                hover:bg-primary-700">
                <input type="checkbox" class="invisible absolute"
                  id="tags_all"
                  checked="True"
                  name="selected_tags"
                  value="tags_all"
                  hx-post="{% url 'main:documents' %}"
                  hx-target="#htmx-content"
                  _="on click set .selected_tags.checked to false
                    then remove .bg-primary-400 from label_tags_all
                    then add .bg-primary-600 to label_tags_all
                    then remove .bg-primary-600 from .label-tags
                    then add .bg-primary-400 to .label-tags
                  "
                  />
                  <p class="text-center pointer-events-none">{% translate 'All' %}</p>
                </label>
              {% for tag in tags %}
              <label for="{{ tag.id }}" id="label_{{ tag.id }}"
                class="label-tags p-1 rounded-md bg-primary-400 text-white
              hover:bg-primary-700"
              >
                <input
                  type="checkbox" 
                  id="{{ tag.id }}"
                  name="selected_tags"
                  class="selected_tags invisible absolute"
                  value="{{ tag.id }}"
                  hx-post="{% url 'main:documents' %}"
                  hx-target="#htmx-content"
                  _="on click set #tags_all.checked to false
                    then remove .bg-primary-600 from label_tags_all
                    then add .bg-primary-400 to label_tags_all
                    then toggle .bg-primary-400 on label_{{ tag.id }}
                    then toggle .bg-primary-600 on label_{{ tag.id }}
                  "
                />
                <p class="text-center pointer-events-none">{{ tag|capfirst }}</p>
              </label>
              {% endfor %}
            </div>
          </div>
          {% endif %}
          {% if projects|length > 1 %}
          <div class="flex gap-2">
            <p class="text-base pr-2">{% translate 'Projects' %}</p>
            <div class="grid grid-cols-1 gap-1 mb-4 w-full
              md:grid-cols-2 lg:grid-cols-3">
              <label for="projects_all" id="label_projects_all"
                class="p-1 rounded-md bg-blau-500 text-white
                  hover:bg-blau-700"
              >
                <input 
                  type="radio"
                  checked="True"
                  id="projects_all"
                  class="invisible absolute"
                  name="selected_projects"
                  value="projects_all"
                  hx-post="{% url 'main:documents' %}"
                  hx-target="#htmx-content"
                  _="on click remove .bg-blau-300 from label_projects_all
                    then add .bg-blau-500 to label_projects_all
                    then remove .bg-blau-500 from .label-projects
                    then add .bg-blau-300 to .label-projects
                  "
                />
                <p class="text-center pointer-events-none">{% translate 'All' %}</p>
              </label>
              {% for project in projects %}
              <label for="{{ project.id }}" id="label_{{ project.id }}"
                class="p-1 rounded-md bg-blau-300 text-white
                  hover:bg-blau-700"
              >
                <input 
                  type="radio"
                  id="{{ project.id }}"
                  name="selected_projects"
                  class="selected_projects invisible absolute"
                  value="{{ project.id }}"
                  hx-post="{% url 'main:documents' %}"
                  hx-target="#htmx-content"
                  _="on click remove .bg-blau-500 from label_projects_all
                    then add .bg-blau-300 to label_projects_all
                    then toggle .bg-blau-300 on label_{{ project.id }}
                    then toggle .bg-blau-500 on label_{{ project.id }}"
                />
                <p class="text-center pointer-events-none">{{ project }}</p>
              </label>
              {% endfor %}
            </div>
          </div>
          {% endif %}
        </form>
      </div>
      {% endif %}
      <div class="grid gap-6 mx-auto md:max-w-screen-sm pt-8 lg:pt-16" id="htmx-content">
        {% include 'main/documents_filtered.html' %}
      </div>

    {% else %}
      <div class="mb-4 mx-auto text-gray-900 dark:text-white md:max-w-screen-sm md:mx-0">
        <p>{% translate 'There is no documents to show. Once the administrators have added some, you will be able to download them here.' %}</p>
        <p class="text-lg font-semibold mt-4">{% translate 'Come back soon to check!' %}</p>
      </div>
    {% endif %}
  </div>
{% endblock %}

