{% extends "web/base.html" %}
{% load wagtailcore_tags wagtailimages_tags wagtailembeds_tags wagtailadmin_tags static i18n %}

{% block content %}

<main>
  {% include '../components/heading.html' %}

  <section class="mx-auto max-w-screen-2xl">
    <div class="flex flex-col gap-8 px-3 pb-16 max-w-2xl
      lg:px-44 lg:pb-28 lg:gap-16 lg:max-w-none
      [&>img]:w-full"
    >
      {# Explicitly looping blocks to skip the default div that Wagtail includes in each block: https://docs.wagtail.org/en/stable/topics/streamfield.html#template-rendering #}
      {% for block in page.content %}
        {% include_block block %}
      {% endfor %}
    </div>
  </section>

</main>

{% endblock %}

