{% extends "web/base.html" %}
{% load wagtailcore_tags wagtailimages_tags wagtailembeds_tags wagtailadmin_tags static i18n %}

{% block extra_headers %}
  <script type="text/javascript" src="{% static 'js/htmx.min.js' %}"></script>
{% endblock %}

{% block content %}
  <main class="main home">
    <div>
      <h1>{{ page.title }}</h1>
    </div>

    <section class="contact_details">
      <div class="">
        {% if settings.web.CustomizationSettings.address %}
        <div>
          <div>
            {% translate "Address" %}
          </div>
          <div>
            <a href='https://maps.apple.com/maps?q={{ settings.web.CustomizationSettings.address|safe }}'>
              <p>{{ settings.web.CustomizationSettings.address|safe }}</p>
            </a>
          </div>
        </div>
        {% endif %}
        {% if settings.web.CustomizationSettings.phone or settings.web.CustomizationSettings.email %}
        <div>
          <div>
            {% translate 'Contact' %}
          </div>
          <div>
            {% if settings.web.CustomizationSettings.phone %}
            <a href="tel:{{ settings.web.CustomizationSettings.phone }}">
              <p>{{ settings.web.CustomizationSettings.phone }}</p>
            </a>
            {% endif %}
            {% if settings.web.CustomizationSettings.email %}
              <a href="mailto:{{ settings.web.CustomizationSettings.email }}">
                <p>{{ settings.web.CustomizationSettings.email }}</p>
              </a>
            {% endif %}
          </div>
        </div>
        {% endif %}
      </div>

    </section>

    <section class="contact_form">
      {% include "./contact_form.html" %}
    </section>
  </main>
{% endblock %}

