{% extends "web/base.html" %}
{% load wagtailcore_tags wagtailimages_tags wagtailembeds_tags wagtailadmin_tags static i18n %}

{% block content %}

<main class="main home">

  {% include '../components/heading.html' %}

  <section class="description">
    {% include '../components/block_text_center.html' with text=page.description %}
  </section>

  <section class="content">
    {# Blocs que inclou aquest StreamField: #}
    {# - Bloc pregunta + resposta. Maquetar a: web/components/faq_question_answer_block.html #}
    {{ page.questions }}
  </section>

</main>

{% endblock %}

