{% extends "web/base.html" %}
{% load wagtailcore_tags wagtailimages_tags wagtailembeds_tags wagtailadmin_tags static i18n %}

{% block content %}

<main class="main home">

  {% include '../components/heading.html' %}


  {% if page.can_display_video_block %}
    <section class="video">
      <h2>{{ page.video_title }}</h2>
      <p>{{ page.video_description|richtext }}</p>
      {% embed page.video_youtube_url max_width=750 %}
    </section>
  {% endif %}

  <section class="projects">
    {# to do, quan l'apartat projectes estigui fet #}
  </section>

  <section class="documents">
      <h2>{{ page.documents_title }}</h2>
      <p>{{ page.documents_description|richtext }}</p>
      {% for document in page.documents %}
          {% with "images/icons/"|add:document.value.icon|add:".svg" as icon_static %}
            <a href="{{ document.value.file.url }}">
              <img src="{% static icon_static %}" title="{{ document.value.icon }}"  alt="{{ document.value.icon }}"/>
            </a>
          {% endwith %}
          <p>{{ document.value.title }}</p>
          <p>{{ document.value.description }}</p>
      {% endfor %}
  </section>

</main>

{% endblock %}

