{% extends "web/base.html" %}
{% load wagtailcore_tags wagtailimages_tags wagtailembeds_tags wagtailadmin_tags static i18n %}

{% block content %}

<main>

  {% include '../components/heading.html' %}

  {% if page.can_display_video_block %}
    <section class="flex flex-col items-center justify-center mb-24 px-3">
      <h2 class="text-3xl font-semibold text-center mb-4 lg:mb-8 lg:order-1 lg:text-4xl">
        {{ page.video_title }}
      </h2>
      <div class="text-base text-center mb-4 max-w-96 
        lg:order-2 lg:text-lg lg:max-w-md lg:text-left">
        {{ page.video_description|richtext }}
      </div>
      <div class="relative flex items-center justify-center shadow-video p-1 
        rounded-2xl w-fit mb-4 lg:order-4 lg:min-w-32">
        <div class="w-fit rounded-2xl overflow-clip">
          {% embed page.video_youtube_url max_width=900 %}
        </div>
        <img class="absolute -bottom-6 -right-4 h-auto lg:w-32"
          src="{% static 'images/leaf.svg' %}" alt="{% translate 'Leaf decoration' %}">
      </div>
      <div class="my-4 lg:order-3 lg:mt-0 lg:mb-8">
        <a href="0#"
          class="items-center mr-2 px-3 py-2 text-gray-800 font-medium rounded-full
            text-sm bg-groc-500 lg:mr-0
            hover:bg-groc-700 focus:outline-none
            focus:ring-4 focus:ring-groc-700
            dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-800"
        >
          <span class="font-bold">{% translate 'Join us' %}</span>
        </a>
      </div>
    </section>
  {% endif %}

  <section class="projects">
    {# to do, quan l'apartat projectes estigui fet #}
  </section>

  <section class="flex flex-col items-center justify-center mb-24 px-3">
      <h2 class="text-3xl font-semibold text-center mb-4 lg:mb-8 lg:order-1 lg:text-4xl">
        {{ page.documents_title }}
      </h2>
      <div class="text-base text-center mb-12 max-w-96 
        lg:order-2 lg:text-lg lg:max-w-md lg:text-left">
        {{ page.documents_description|richtext }}
      </div>
      <div class="flex flex-col gap-9 max-w-80
        lg:grid lg:grid-cols-3">
        {% for document in page.documents %}
          {% with "images/icons/"|add:document.value.icon|add:".svg" as icon_static %}
          <div class="flex flex-col items-center">
            <a href="{{ document.value.file.url }}">
              <img class="h-20 mb-5"
                src="{% static icon_static %}" title="{{ document.value.icon }}"  alt="{{ document.value.icon }}"/>
            </a>
            {% endwith %}
            <p class="text-center text-lg font-bold">{{ document.value.title }}</p>
            <p class="text-center text-base">{{ document.value.description }}</p>
          </div>
        {% endfor %}
      </div>
  </section>

</main>

{% endblock %}

