{% extends "web/base.html" %}
{% load wagtailcore_tags wagtailimages_tags wagtailembeds_tags wagtailadmin_tags static i18n %}

{% block content %}
  <main class="main home">

    <div>
      <h1>{{ page.title }}</h1>
    </div>

    <section class="content">
      {% if tags %}
        <div class="tags">
          {% for tag in tags %}
            <a href="{% pageurl page %}?tag={{ tag }}">{{ tag }}</a>
          {% endfor %}
        </div>
      {% endif %}

      {% for news in news_list %}
        {% image news.header_image width-350 as bg_heading %}
        <div
          {% if bg_heading %}
            style="--bg-heading: url('{{ bg_heading.url }}')"
          {% endif %}
        >
          <a href="{% pageurl news %}">{{ news.title }}</a>
        </div>
      {% endfor %}
    </section>

  </main>
{% endblock %}

