{% extends "../base_form.html" %}
{% load i18n %}

{# Blocks de base.html #}
{% block page_title %}{% translate "Profile details" %}{% endblock %}
{% block bodyclasses %}{% endblock %}
{% block mainclasses %} profile {% endblock %}
{% block extra_js %}{% endblock %}

{# Blocks de base_form.html #}
{% block enctype %}{% endblock %}
{% block submit_text %}{% endblock %}
{% block form_fields %}{% endblock %}
{% block submit_whole %}{% endblock %}

{% block before_form_content %}
<nav class="flex mb-4" aria-label="Breadcrumb">
  <ol class="inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse">
    <li class="inline-flex items-center">
      <a href="{% url 'partners:home' %}" class="inline-flex items-center text-sm font-medium text-gray-400 hover:text-primary-600 dark:text-gray-400 dark:hover:text-white">
        <svg class="w-3 h-3 me-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewbox="0 0 20 20">
          <path d="m19.707 9.293-2-2-7-7a1 1 0 0 0-1.414 0l-7 7-2 2a1 1 0 0 0 1.414 1.414L2 10.414V18a2 2 0 0 0 2 2h3a1 1 0 0 0 1-1v-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 0 1 1h3a2 2 0 0 0 2-2v-7.586l.293.293a1 1 0 0 0 1.414-1.414Z"/>
        </svg>
        {% translate 'Home' %}
      </a>
    </li>
  </ol>
</nav>
{% endblock %}

{% block whole_form %}
  <section>
    <h1 class="pb-4 text-2xl font-bold leading-tight tracking-tight text-gray-900
      md:text-3xl lg:pb-6 dark:text-white">
      {% translate "Your profile" %}
    </h1>
    <p class="pb-4 lg:pb-6">
      {% translate "Here you can see all your data. If you need to change anything, contact the administrators by" %}
      <span class="font-bold hover:underline"><a href="mailto:{{ contact_email }}">{% translate "email" %}</a></span>
      {% if contact_phone %}
      <span>{% translate " or calling at "%} </span>
      <a href="tel:{{ contact_phone }}" class="font-bold">{{ contact_phone }}</a>
      {% endif %}
      {% translate "and they will update it for you." %}
    </p>
    <div class="relative overflow-x-auto shadow-sm rounded-lg">
      <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <tbody>
          <tr>
            <th scope="row" class="min-w-36 px-2 py-2 border-t border-primary-50 font-medium text-gray-900 bg-primary-200">
              {% translate "Name" %}
            </th>
            <td class="px-2 py-2 border-b border-t border-primary-200">
              {% if user.name %}
                {{ user.name }}
              {% else %}
                {% translate "Unknown" %}
              {% endif %}
            </td>
          </tr>
          <tr>
            <th scope="row" class="min-w-36 px-2 py-2 font-medium text-gray-900 bg-primary-200">
              {% translate "Surnames" %}
            </th>
            <td class="px-2 py-2 border-b border-primary-200">
              {% if user.surnames %}
                {{ user.surnames }}
              {% else %}
                {% translate "Unknown" %}
              {% endif %}
            </td>
          </tr>
          <tr>
            <th scope="row" class="min-w-36 px-2 py-2 font-medium text-gray-900 bg-primary-200">
              {% translate "Email" %}
            </th>
            <td class="px-2 py-2 border-b border-primary-200">
              {% if user.email %}
                {{ user.email }}
              {% else %}
                {% translate "Unknown" %}
              {% endif %}
            </td>
          </tr>
          <tr>
            <th scope="row" class="min-w-36 px-2 py-2 font-medium text-gray-900 bg-primary-200">
              {% translate "Phone" %}
            </th>
            <td class="px-2 py-2 border-b border-primary-200">
              {% if user.phone %}
                {{ user.phone }}
              {% else %}
                {% translate "Unknown" %}
              {% endif %}
            </td>
          </tr>
          <tr>
            <th scope="row" class="min-w-36 px-2 py-2 font-medium text-gray-900 bg-primary-200">
              {% translate "Address" %}
            </th>
            <td class="px-2 py-2 border-b border-primary-200">
              {% if user.address %}
                {{ user.address }}
              {% else %}
                {% translate "Unknown" %}
              {% endif %}
            </td>
          </tr>
          <tr>
            <th scope="row" class="min-w-36 px-2 py-2 font-medium text-gray-900 bg-primary-200">
              {% translate "DNI" %}
            </th>
            <td class="px-2 py-2 border-b border-primary-200">
              {% if user.dni %}
                {{ user.dni }}
              {% else %}
                {% translate "Unknown" %}
              {% endif %}
            </td>
          </tr>
          <tr>
            <th scope="row" class="min-w-36 px-2 py-2 font-medium text-gray-900 bg-primary-200">
              {% translate "Bank account" %}
            </th>
            <td class="px-2 py-2 border-b border-primary-200">
              {% if user.bank_account %}
                {{ user.bank_account }}
              {% else %}
                {% translate "Unknown" %}
              {% endif %}
            </td>
          </tr>
          <tr>
            <th scope="row" class="min-w-36 px-2 py-2 font-medium text-gray-900 bg-primary-200">
              {% translate "Position" %}
            </th>
            <td class="px-2 py-2 border-b border-primary-200">
              {% if user.charge %}
                {{ user.charge }}
              {% else %}
                {% translate "Unknown" %}
              {% endif %}
            </td>
          </tr>
          <tr>
            <th scope="row" class="min-w-36 px-2 py-2 font-medium text-gray-900 bg-primary-200">
              {% translate "Are you a Governing Council member?" %}
            </th>
            <td class="px-2 py-2 border-b border-primary-200">
              {% if governing_council_member %}
                {% translate "Yes" %}
              {% else %}
                {% translate "No" %}
              {% endif %}
            </td>
          </tr>
          <tr>
            <th scope="row" class="min-w-36 px-2 py-2 font-medium text-gray-900 bg-primary-200">
              {% translate "Year of entry to the cooperative" %}
            </th>
            <td class="px-2 py-2 border-b border-primary-200">
              {% if user.entry_year %}
                {{ user.entry_year }}
              {% else %}
                {% translate "Unknown" %}
              {% endif %}
            </td>
          </tr>
          <tr>
            <th scope="row" class="min-w-36 px-2 py-2 font-medium text-gray-900 bg-primary-200">
              {% translate "Partner number" %}
            </th>
            <td class="px-2 py-2 border-b border-primary-200">
              {% if user.partner_id %}
                {{ user.partner_id }}
              {% else %}
                {% translate "Unknown" %}
              {% endif %}
            </td>
          </tr>
          <tr>
            <th scope="row" class="min-w-36 px-2 py-2 font-medium text-gray-900 bg-primary-200">
              {% translate "Capital corporate contribution" %}
            </th>
            <td class="px-2 py-2 border-b border-primary-200">
              {% if user.corporate_contribution %}
                {{ user.corporate_contribution }}
              {% else %}
                {% translate "Unknown" %}
              {% endif %}
            </td>
          </tr>
          <tr>
            <th scope="row" class="min-w-36 px-2 py-2 font-medium text-gray-900 bg-primary-200">
              {% translate "Capital voluntary contribution" %}
            </th>
            <td class="px-2 py-2 border-b border-primary-200">
              {% if user.voluntary_contribution %}
                {{ user.voluntary_contribution }}
              {% else %}
                {% translate "Unknown" %}
              {% endif %}
            </td>
          </tr>
          <tr>
            <th scope="row" class="min-w-36 px-2 py-2 font-medium text-gray-900 bg-primary-200">
              {% translate "Projects where you participate" %}
            </th>
            <td class="px-2 py-2 border-b border-primary-200">
              <ul class="list-disc ml-5">
                {% if user.projects.all %}
                  {% for project in user.projects.all %}
                    <li>{{ project.title }}</li>
                  {% endfor %}
                {% else %}
                  {% translate "None" %}
                {% endif %}
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
  {% if not user.email_verified and request.user.email %}
  <div class="flex items-center p-4 mb-4 bg-red-50 rounded-lg text-sm text-red-700 dark:text-red-500"
      role="alert">
    <svg class="flex-shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
      <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
    </svg>
    <span class="sr-only">Alert</span>
    <div>
      <span class="font-bold uppercase">{% translate "Warning!" %}</span>
      {% translate "Your email is not verified. Before anything else, you must verify it." %}
      <a class="font-bold hover:underline" href="{% url 'registration:send_verification_code' %}" id="id_verify_email">
        {% translate "Verify email here." %}
      </a>
    </div>
  </div>
  {% endif %}
{% endblock %}


{% block after_form_content %}
{% if request.user.email %}
<section class="bg-gray-50 dark:bg-gray-900">
  <div class="flex flex-col items-center justify-center px-6 pb-8 mx-auto
  lg:pb-16 lg:-mt-9">
    <div class="w-full bg-white rounded-lg shadow
          dark:border dark:bg-gray-800 dark:border-gray-700
          sm:max-w-lg
          md:mt-0
          xl:p-0">
      <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
        <h2 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
          {% translate "Password change" %}
        </h2>
        <p>{% translate "Here you can change your password." %}</p>
        <a href="{% url 'registration:password_change' %}">
          <button
            class="w-full mt-8 px-5 py-2.5 rounded-lg bg-primary-600 text-white font-bold text-sm text-center cursor-pointer
            hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300
            dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800
              disabled:opacity-50 disabled:bg-gray-400" id="id_password_change">
            {% translate 'Change password' %}
          </button>
        </a>
      </div>
    </div>
  </div>
</section>
{% endif %}
{% endblock %}
