// Dynamic variables



// Layout
.password {
  padding-top: var(--padding-md);
  padding-bottom: var(--padding-md);
  justify-items: center;

  // &__preform { }
  &__afterform {
    display: flex;
    flex-wrap: wrap;
    gap: var(--padding-sm);
  }
}